
*{
margin: 10px;
padding: 10px;
}
body {
    background-color: #f0f0f0;
    font-size: 14px;
    font-color: #000000;
}
container
{
    padding: 10px;
}
#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: #cccccc;
    height: 80px;
    width:  100%;
    margin-bottom: 10px;
}
.post {
    backgrounf-color:#ffffff;
    border: 5px solid #000000;
    margin-bottom: 5px;
}
body{ background: #fafafa;}
.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
body .no-padding {
    padding: 10px;
}
.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.picture_one
{
	position:relative;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	overflow: hidden;
	color:#283334;
	background-image:url("https://imgur.com/99AZdcx.jpg");
	min-height:150px;
}
.ptitle
{
	position:absolute;
	top:10%;
	width:100%;
	text-align:center;
	color:#ffffff;
	font-size:50px;
}

.section
{
	text-align: center;
	padding: 25px 50px;
	background-color:#283334;
	color:#ffffff;
}

.lightLink a
{
	color:#ffffff;
	padding: 16px;
	transition:0.25s;
	text-decoration:none;
	border-radius: 4px;
}

.lightLink a:hover
{
	background-color: #f2f2f2;
	padding: 16px;
	color: #283334;
}

.darkLink a
{
	color:#283334;
	padding: 16px;
	transition:0.25s;
	text-decoration:none;
}

button
{
	background-color:#283334;
	color: white;
	transition:0.25s;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 10%;
	border-radius: 4px;
	border:0;
}
button:hover
{
	background-color:#f2f2f2;
	color: #283334;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #000000;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 100px;
    letter-spacing: 0.3px;
    padding: 2px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.title-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin: 10px 0 10px 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.status-upload form button > i {
    margin-right: 7px;
}